<div class="border-end bg-white" id="sidebar-wrapper">
    <div class="sidebar-heading border-bottom bg-light">Main App</div>
    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'Inicio' %}">Dashboard</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'AccessPoints' %}">Access Points</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'Switches' %}">Switches</a>
    </div>
</div>